/* section */
.section {
    width: 100%;
    height: 100%;
    float: left;
}

.main-image {
    width: 50%;
    text-align: center;
    float: left;
}

.main-image img {
    width: 55%;
    height: auto;
    margin: 20vh 20vw;
}

.image-info {
    width: 30%;
    float: left;
    margin: 20vh 0;
    line-height: 4vh;
}

.image-info ul {
    margin-bottom: 2em;
}

.image-info .name {
    font-size: 1.5rem;
    font-weight: bolder;
}

.image-info .price {
    font-style: italic;
    color: black;
    margin-bottom: 1em;
}

.image-info .description {
    font-size: 1vw;
    color: rgb(146, 146, 146);
}

.image-info .description .delivery-info {
    font-size: 0.8vw;
    line-height: 2.2vh;
    margin-bottom: 2em;
}

.image-info .quantity,
.image-info .size {
    font-size: 0.8vw;
    line-height: 4vh;
}

.image-info .quantity-option,
.image-info .size-option {
    width: 30vw;
    font-size: 1vw;

    color: #444;
    background-color: #fff;

    padding: 0.3em 1.4em;
    margin: 0;

    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

.image-info .cartBtn {
    border: none;
    height: 5vh;
    /* background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    ); */
    background-color: #4d61a9;
    border-radius: 5em;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(193, 193, 193, 0.64);
    font-weight: 700;
    transition: 0.3s;
    margin: 0.5vw;
}

.image-info .buyBtn {
    border: none;
    height: 5vh;
    /* background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    ); */
    background-color: #00092a;
    border-radius: 5em;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(193, 193, 193, 0.64);
    font-weight: 700;
    transition: 0.3s;
    margin: 0.5vw;
}

.cartBtn,
.buyBtn {
    width: 100%;
}

/* Cart Popup */
.basket-add {
    position: fixed;
    top: 35%;
    left: 35%;
    width: 30vw;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 1px 1px 15px black;
    background-color: #fff;
    animation: modalAppear 0.5s;
}

.basket-add .header {
    padding: 0.2em 1em;
    color: #fff;
    background-color: #00092a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.basket-add .header h3 {
    padding: 0.3em;
    font-size: 1em;
}

.basket-add .header .close {
    padding: 0.3em 0;
    font-size: 1.2em;
    border: none;
    background-color: #00092a;
    color: #fff;
}

.basket-add .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.basket-add .base-button {
    padding: 1vw;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 1vw;
    border-radius: 3px;
}

.base-button a {
    border-radius: 15px;
    cursor: pointer;
}

.move-to-cart,
.stay-here {
    width: 9vw;
    word-break: keep-all;
    word-wrap: break-word;
    padding: 5px 8px;
    font-size: 1rem;
}

.move-to-cart {
    margin-right: 15px;
    background-color: #f38989;
    color: white;
}

.stay-here {
    background-color: #00092a;
    color: white;
}

.cartBtn:hover,
.buyBtn:hover {
    background-color: rgb(195, 40, 40);
    transition: background-color 0.3s;
}

@keyframes modalAppear {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* media query */
@media screen and (max-width: 900px) {
    .main-image img {
        width: 100%;
        height: 50vh;
        margin: 5vh 50%;
    }

    .image-info {
        width: 50%;
        margin: 0 25%;
        margin-bottom: 5em;
    }

    .image-info .cart,
    .image-info .buy {
        margin-bottom: 3em;
        width: 20vw;
        height: 5vh;
    }

    .basket-add {
        left: 25%;
        width: 50vw;
    }

    .basket-add .base-button {
        text-align: center;
        margin-bottom: 15px;
        font-size: 0.1vw;
    }

    .image-info button {
        font-size: 0.8rem;
    }
}
