<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>쇼핑-17팀</title>
        <!-- 아이콘 -->
        <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
        <!-- 폰트 어썸: 아이콘 -->
        <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
        <!-- google fonts icon -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="goods.css" />
        <script src="goods.js" type="module" defer></script>
        <script src="../navBar.js" type="module" defer></script>
    </head>

    <body>
        <!-- nav bar -->
        <nav class="navBar" role="navigation" aria-label="main navigation">
        </nav>

        <section>
            <div class="main-image"><img src="https://images.unsplash.com/photo-1609505848912-b7c3b8b4beda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80"></div>
            <div class="image-info">
                <ul>
                    <li class="name">LACE SLEEVELESS CARDIGAN SET *에스파 윈터 착용*</li>
                    <li class="price">39,000원</li>
                    <br><hr>
                    <li class="description">2021 SEASON ARIWR LACE SLEEVELESS CARDIGAN SET
                        <br>
                        오후4시 이전 주문건은 당일발송 됩니다♥
                        <br>
                        !원단, 부자재값 인상으로 부득이하게 가격이 1000원 인상된 점 양해 부탁드리겠습니다 :)
                        <br><br>
                        <div class="delivery-info">
                            구매혜택 390 포인트 적립예정<br>
                            배송 방법 택배<br>
                            배송비 2,800원 (50,000원 이상 무료배송)
                        </div>
                    </li>
                    <li class="quantity">수량</li>
                    <input type="number" value="1" class="quantity-option"/>
                    <li class="size">SIZE*</li>
                    <select class="size-option">
                        <option value="0">SIZE (필수)</option>
                        <option value="1">S</option>
                        <option value="2">M</option>
                        <option value="3">L</option>
                    </select>
                    <br><br>
                </ul>
                <button class="cart">장바구니</button>
                <button class="buy">구매하기</button>
            </div>
        </section>

        <!-- POPUP -->
        <div class="basket-add" style="display: none;">
            <div class="header">
                <h3>장바구니 담기</h3>
                <button class="close">X</button>
            </div>
            <div class="content">
                <p>장바구니에 상품이 정상적으로 담겼습니다.</p>
            </div>
            <div class="base-button">
                <a href="" class="move-to-cart" type="button">장바구니 이동</a>
                <a href="" class="stay-here" type="button">쇼핑 계속하기</a>
            </div>
        </div>
        
        <!-- FOOTER -->
        <footer>
            <div class="footer-col">
                <span style="margin-right:1rem;">Project17</span>
            </div>
            <div class="footer-col">
                <span>Contributors<br><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
                    quaerat.</span>
            </div>
            <div class="footer-col">
                <span>Links<br><br><br>KDC</span>
            </div>
        </footer>
    </body>
</html>