<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- google fonts icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <!-- 커스텀 css, js -->
    <script src="payment.js" type="module" defer></script>
    <link rel="stylesheet" href="../navAndLogin.css" />
    <!-- daum 우편번호 검색 서비스-->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="../navAndLogin.js" type="module" defer></script>
    <!-- 카카오 로그인 -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        function kakaopost() {
            new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                // 예제를 참고하여 다양한 활용법을 확인해 보세요.
                document.querySelector('#zipcode').value = data.zonecode;
                document.querySelector('#input-address1').value = data.address;
            }
        }).open();
        }
    </script>
    <link rel="stylesheet" href="payment.css" />
</head>
<body>
    <!-- nav bar -->
    <nav class="navBar" role="navigation" aria-label="main navigation">
        </div>
    </nav>

    <div id="top-text" style="margin-top:100px;">
        상품결제   
    </div>
    <div class="payment-container">
        <div class="order-item-container">
            <span id="title-text">제품 정보</span>
            <ul class="order-item-list"></ul>
            <div class="payment-info">
                <div class="payment-info-header">
                    <div id="header-text">총금액</div>
                    <div id="header-text">할인금액</div>
                    <div id="header-text">최종 결제 금액</div>
                </div>
                <div class="payment-text">
                    <div id="header-text" class="sumprice">12000</div>
                    <div id="header-text" class="saleinfo">0</div>
                    <div id="header-text" class="totalprice">0</div>
                </div>
            </div>
        </div>
        <div class="order-info-container">
            <div class="user-info-container">
                <span id="title-text">고객 정보</span>
                <div class="info-box">
                    <label>이름</label>
                    <input type="text" id="input-name" placeholder="이름을 입력하세요." style="width:19%">
                </div>
                <div class="info-box">
                    <label>핸드폰 번호</label>
                    <div>
                        <span>010 -</span>
                        <input type="text" id="input-middle-num" style="width:8%;text-align: center;">
                        <span>-</span>
                        <input type="text" id="input-last-num" style="width:8%;text-align: center">
                    </div>
                </div>
                <div class="info-box">
                    <label>이메일</label>
                    <div>
                        <input type="email" id="input-email-head" style="width: 20%">
                        <span>@</span>
                        <input type="email" id="input-email-tail" style="width: 20%">
                        <select id="select-email">
                            <option value>select</option>
                            <option value="elice.com">elice.com</option>
                            <option value="naver.com">naver.com</option>
                            <option value="google.com">google.com</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="order-ship-address-container">
                <span id="title-text">배송 정보</span>
                <div class="info-box">
                    <label>주소</label>
                    <div>
                        <input type="text" id="zipcode" style="width:20%" readonly>
                        <button onclick="kakaopost()" id="find-address-btn" >우편번호 검색</button>
                    </div>
                    <input type="text" id="input-address1" style="width:60%;margin-top:5px" readonly>
                    <input type="text" id="input-address2" style="width:60%;margin-top:5px">
                </div>
                <div class="info-box">
                    <label>주문 메세지</label>
                    <textarea class="ship-message" placeholder="배송 메세지를 입력하세요"></textarea>
                </div>
                <button id="payment-btn">결제하기</button>
                <br/>
            </div>
        </div>
        
        
    </div>
</body>
</html>