/* noto-sans font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Water+Brush&display=swap");
/* 모든페이지에 적용되는 navBar, footer 분리 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.nav-menu button {
    border: none;
    background-color: white;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* navBar */
.navBar {
    box-shadow: 1px 1px 2px rgb(236, 236, 236);
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 99;
    top: 0;
}

.navBar-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    height: inherit;
    padding: 0.7em;
}

.nav-category_list a {
    display: flex;
}

.nav-brand,
.nav-category,
.nav-menu {
    display: flex;
    width: 33%;
    align-items: center;
}

.nav-category {
    justify-content: space-around;
    font-size: 0.75rem;
}

.nav-menu {
    justify-content: flex-end;
}

.nav-menu_icon,
.nav-brand {
    font-size: 1.7rem;
    vertical-align: baseline;
}

.nav-brand_name {
    font-family: "Water Brush", cursive;
}

.cart {
    position: relative;
}

.count,
.check {
    position: absolute;
    top: 50%;
    right: 0%;
    background-color: rgb(250, 135, 135);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count span {
    font-size: 0.5rem;
    color: white;
}

.check {
    background-color: rgba(207, 207, 207);
    cursor: pointer;
}

.check span {
    font-size: 0.5rem;
}

.personalMenu {
    position: relative;
}

.personalMenu-buttons {
    width: 8em;
    position: absolute;
    right: 0%;
    top: 110%;
    box-shadow: 1px 1px 8px rgb(163, 163, 163);
    border-radius: 8px;
    animation: personalMenuAppear 0.5s;
}

#personalIcon {
    display: flex;
}

@keyframes personalMenuAppear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.personalMenu-buttons button {
    border: 1px solid rgb(196, 196, 196);
    padding: 0.5em;
    width: 100%;
    font-size: 1rem;
}

.personalMenu-buttons button:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.personalMenu-buttons button:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#logout {
    color: rgb(255, 56, 56);
}

.shop {
    display: none;
}

/* footer  */
footer {
    margin: 0 auto;
    margin-top: 4em;
    padding: 1em 0;
    border-top: 1px solid rgba(0, 0, 0, 0.081);
    width: 90%;
}

.footer-brandName,
.footer-slogan {
    color: rgb(114, 114, 114);
}

.footer-brandName {
    font-size: 1.5rem;
    font-family: "Water Brush", cursive;
    margin-bottom: 0.5em;
}

.footer-slogan {
    font-size: 1rem;
}
.footer-contributor {
    font-size: 0.5rem;
    color: rgb(177, 177, 177);
}

/* nav media query */
@media screen and (max-width: 900px) {
    .nav-category {
        visibility: hidden;
    }

    .navBar-container {
        margin: 0;
        width: 100%;
        justify-content: space-between;
    }
    .shop {
        display: inline;
    }
}

@media screen and (max-width: 550px) {
    html {
        font-size: 10px;
    }
    footer {
        width: 90%;
    }
}

/* login modal */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.login-form {
    width: 80%;
}

.login-form-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    background-color: #f8f8ff;
}

.login-form .title {
    font-size: 2rem;
}

.login-form .subtitle {
    font-size: 1rem;
    margin-top: 10px;
}

.login-form_input,
.login-form .submitBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1em;
    height: 150px;
}

.login-form .submitBtns {
    height: 5.3em;
}

.login-form .submitBtns {
    margin-top: 3em;
}

.login-form_input .register,
.login-form_input .findPassword {
    text-align: end;
    font-size: 0.5rem;
    margin-top: 3em;
}

.login-form_input .findPassword {
    margin-top: 0em;
    cursor: pointer;
}

.login-form_input input,
.submitBtns button {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
}

.login-form_input input {
    border: 1px solid rgb(235, 235, 235);
}

.submitBtns button {
    cursor: pointer;
}

.loginButton {
    background-color: #687296;
    color: white;
}
.kakao-login {
    background-color: #f1d800;
}
.login-submitButton:last-child {
    background-color: #6a5cbd;
    color: white;
}

/* modal */
.modal {
    position: absolute;
    right: 50%;
    left: 50%;
}
.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.modal-content {
    position: fixed;
    z-index: 10;
    animation: modalAppear 0.5s;
}

@keyframes modalAppear {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.hidden {
    display: none;
}

.modal-content .closeBtn {
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: 2rem;
    cursor: pointer;
}

/* modal media query */
@media screen and (max-width: 600px) {
    .login-form-container {
        width: 250px;
        height: 400px;
    }
    .login-form_input,
    .login-form .submitBtns {
        height: 120px;
    }
    .login-form .submitBtns {
        height: 60px;
    }
}
