<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROJECT17</title>

    <!-- 폰트 어썸: 아이콘 -->
    <link rel="icon" type="image/x-icon" sizes="16x16" href="../logo.ico" />
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- google fonts icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="../navAndLogin.js" type="module" defer></script>
    <link rel="stylesheet" href="../navAndLogin.css" />
    <link rel="stylesheet" href="manageproduct.css" />
    <!-- 카카오 로그인 -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="manageproduct.js" type="module" defer></script>
</head>

<body>
    <!-- nav bar -->
    <nav class="navBar"></nav>

    <!-- login modal -->
    <div class="loginModal"></div>

    <div class="item-manage-container">
        <span id="header-text">상품 관리</span>
        <div class="item-manage-header">
            <div id="category-info">카테고리</div>
            <div id="item-info">상품정보</div>
            <div id="brand-name">제조사</div>
            <div id="price-info">가격</div>
            <div id="item-revise">상품 수정</div>
        </div>
        <div class="item-manage-info">
            <div class="manage-info">
                <div id="category-info">카테고리</div>
                <div id="item-info">상품정보</div>
                <div id="brand-name">제조사</div>
                <div id="price-info">가격</div>
                <button id="item-revise-btn">상품 수정</button>
            </div>
        </div>
    </div>
    <footer></footer>
</body>

</html>