<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>PROJECT17</title>
        <!-- 아이콘 -->
        <link rel="icon" type="image/x-icon" sizes="16x16" href="../logo.ico" />
        <!-- bulma css 관련 -->
        <!-- <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        /> -->
        <!-- 폰트 어썸: 아이콘 -->
        <script
            defer
            src="https://kit.fontawesome.com/7630448495.js"
            crossorigin="anonymous"
        ></script>
        <!-- google fonts -->
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
            rel="stylesheet"
        />
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="../navAndLogin.css" />
        <link rel="stylesheet" href="findpassword.css" />
        <script src="findpassword.js" type="module" defer></script>
        <script src="../navAndLogin.js" type="module" defer></script>
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    </head>
    <body>
        <!-- 헤더 -->
        <!-- nav bar -->
        <nav
            class="navBar"
            role="navigation"
            aria-label="main navigation"
        ></nav>

        <!-- login modal -->
        <div class="loginModal"></div>

        <!-- 회원가입 폼(Form) -->
        <main id="findPW">
            <div class="findPW-container">
                <div class="findPW-form">
                    <div class="findPW-title">
                        가입하신 이메일을 입력해주세요
                    </div>
                    <input
                        class="findPW-input"
                        type="email"
                        placeholder="Email Address"
                        autocomplete="on"
                    />
                    <button class="transferPW">
                        <span>임시비밀번호 받기</span>
                        <div id="loading"></div>
                    </button>
                </div>
            </div>
        </main>
        <footer></footer>
    </body>
</html>
