#findPW {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8ff;
}

.findPW-container {
    height: 200px;
    width: 400px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findPW-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.findPW-title {
    margin-bottom: 2em;
    font-size: 1.4rem;
}

.findPW-input,
.transferPW {
    border: none;
    padding: 0.5em;
}

.findPW-input {
    border-bottom: 1px solid rgb(175, 175, 175);
    width: 100%;
}

.transferPW {
    border-radius: 5px;
    margin-top: 1em;
    background-color: #4d61a9;
    color: white;
    cursor: pointer;
    align-self: flex-end;
}

.transferPW:hover {
    background-color: black;
    transition: background-color 0.3s;
}

@media screen and (max-width: 550px) {
    .findPW-container {
        height: 160px;
        width: 300px;
    }
    .title {
        font-size: 1.7rem;
    }
    .findPW-input {
    }
}
