<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑-데모</title>
    <script src="product.js" type="module" defer></script>

</head>
<body>
    <h1>Prodcut Specification</h1>
    <form>
        <h2>상품 이름</h2>
        <input type="text" id="productName" value="상품명">
        <h2>상품 가격</h2>
        <input type="text" id="productPrice" value="10000">
        <h2>상품 카테고리</h2>
        <input type="text" id="productCategory" value="남성">
        <h2>상품 설명</h2>
        <input type="text" id="productDescription" value="이 제품은...">
        <h2>상품 사이즈</h2>
        <input type="text" id="productSize" value="XL">
        <h2>상품 제작사</h2>
        <input type="text" id="productManufacturer" value="이 제품은...">
        <br>
        <br>
        <button class="button is-primary is-fullwidth" id="submitButton">
            상품등록하기
          </button>
    </form>
</body>
</html>