<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Project17</title>
        <!-- 아이콘 -->
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/elice-rabbit-favicon.png"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <!-- <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script> -->
        <!-- google fonts icon -->
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
            rel="stylesheet"
        />
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="../navAndLogin.css" />
        <link rel="stylesheet" href="shop.css" />
        <script src="shop.js" type="module" defer></script>
        <script src="../navAndLogin.js" type="module" defer></script>
        <!-- 카카오 로그인 -->
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    </head>
    <body>
        <!-- nav bar -->
        <nav
            class="navBar"
            role="navigation"
            aria-label="main navigation"
        ></nav>

        <!-- login modal -->
        <div class="loginModal"></div>

        <section>
            <div class="items">
                <div class="item-container">
                    <ul class="item-box" id="ul"></ul>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <footer></footer>
    </body>
</html>
