/* item box */
.items {
    text-align: center;
    display: block;
    padding-top: 6em;
}

.items .category {
    font-size: 2em;
    text-align: center;
}

.items .category-detail {
    justify-content: center;
    display: flex;
    margin-top: 2vh;
    font-size: 1rem;
}

.items .category-detail li {
    margin: 0.7em 1em;
}

/* Item list */

/* ul */
li {
    list-style: none;
}

.item-container {
    display: flex;
    justify-content: center;
}

.item-box {
    justify-content: start;
    align-items: center;
    vertical-align: center;
    width: 1600px;
    
    margin: 6vw;
    font-size: 0;
    line-height: 0;
}

.item-box li {
    position: relative;
    width: 260px;
    float: left;
    margin: 0 1.2vw;
    text-align: start;
}

.item-box .thumbnail {
    position: relative;
    margin: 0 0 4vh;
    text-align: center;
}

.item-box .thumbnail a {
    display: block;
    position: relative;
}

.item-box .thumbnail a img {
    width: 100%;
    height: 40vh;
    box-sizing: border-box;
    object-fit: cover;
    text-align: center;
}

.item-box .thumbnail .white_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease;
}

.item-box .description {
    margin: 0px auto 0;
    padding: 0;
    line-height: 2em;
    transition: all 0.3s ease;
}

.item-box .description .name {
    display: block;
    text-align: left;
    margin-bottom: 0.2em;
    padding: 0 0.3em 1.4em;
    border-bottom: 1px solid #ececec;
    font-size: 1rem;
}

.item-box .description .product-description {
    margin: 0;
    margin-bottom: 8vh;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}

.item-box .description .product-description li {
    line-height: 1.5em;
    font-size: 0.8rem;
    margin: 0;
    width: 100%;
    padding-left: 0.5em;
}

/* media query */
@media screen and (max-width: 1000px) {
    .items .category {
        font-size: 2em;
    }

    .items .category-detail {
        font-size: 1rem;
    }

    .items .category-detail .line {
        height: 3vh;
    }

    .item-box li {
        width: 300px;
        margin-left: 4.7vw;
    }

    .item-box .thumbnail {
        width: 100%;
    }

    .item-box .thumbnail a img {
        height: 350px;
    }
    .item-box .description .product-description li {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .item-box li {
        width: 300px;
        margin-left: 18vw;
    }
}
