* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.container {
    margin: 0 auto;
    width: 70%;
}

ul {
    list-style: none;
}

/* navBar */
.navBar {
    box-shadow: 1px 1px 2px rgb(236, 236, 236);
    width: 100%;
    background-color: white;
    position: sticky;
    z-index: 99;
    top: 0px;
}

.navBar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    padding: 1em;
}

.nav-category_list a {
    display: flex;
}

.nav-brand,
.nav-category,
.nav-menu {
    display: flex;
    width: 33%;
    align-items: center;
}

.nav-category {
    justify-content: space-around;
    font-size: 1rem;
}

.nav-menu {
    justify-content: flex-end;
}

.nav-menu_icon,
.nav-brand {
    font-size: 2rem;
    vertical-align: baseline;
}

/* 전체 item box*/
.items {
    text-align: center;
    display: block;
    margin-top: 10vh;
}

.items .category {
    font-size: 2em;
    text-align: center;
}

.items .category-detail {
    justify-content: center;
    display: flex;
    margin-top: 2vh;
    font-size: 1rem;
}

.items .category-detail .line {
    border-left: 1.5px solid rgba(68, 68, 68, 0.6);
    height: 3.3vh;
}

/* Item list */
.first-item-box img {
    width: 100%;
    height: 100%;
}

.first-item-box {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 1);
    margin-top: 10vh;
    text-align: center;
}

.first-box-1,
.first-box-2,
.first-box-3,
.first-box-4 {
    width: 18vw;
    height: auto;
    background: rgba(217, 217, 217, 1);
    display: inline-block;
    margin-right: 1vw;
}

/* 둘째 줄 아이템 박스*/
.second-item-box img {
    width: 100%;
    height: 100%;
}

.second-item-box {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 1);
    margin-top: 4vh;
    text-align: center;
}

.second-box-1,
.second-box-2,
.second-box-3,
.second-box-4 {
    width: 18vw;
    height: auto;
    background: rgba(217, 217, 217, 1);
    display: inline-block;
    margin-right: 1vw;
}

/* footer  */
footer {
    margin: 0 auto;
    margin-top: 5vh;
    padding-top: 5vh;
    border-top: 1px solid rgba(0, 0, 0, 0.081);
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 70%;
}

.footer-col:first-child span {
    font-size: 2rem;
}

/* media query */
@media screen and (max-width: 1000px) {
    html {
        font-size: 10px;
    }

    .container,
    footer {
        width: 90%;
    }

    .navBar-container {
        margin: 0;
        width: 100%;
        justify-content: space-between;
    }

    .nav-category {
        visibility: hidden;
    }

    .items .category {
        font-size: 2.5em;
    }

    .items .category-detail {
        font-size: 1.4rem;
    }

    .first-item-box,
    .second-item-box {
        margin-top: 2vh;
        text-align: center;
    }

    .first-box-1,
    .first-box-2,
    .first-box-3,
    .first-box-4,
    .second-box-1,
    .second-box-2,
    .second-box-3,
    .second-box-4 {
        width: 35vw;
        margin: 3vh 2vh;
    }

    .items .category-detail .line {
        height: 3vh;
    }
}