/* profileUpdate */

.personalPage {
    width: 70%;
    margin: auto;
    margin-top: 6em;
}

.personalPage-menu {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.personalPage-menu_Btns {
    display: flex;
    justify-content: center;
}

.greetings {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-bottom: 0.5em;
}

.personalPage-menu_Btns {
    margin-top: 2em;
}

.personalPage-menu_Btns button {
    border: none;
    background-color: white;
    margin: 0 2.5em;
    font-size: 1rem;
    cursor: pointer;
}

.profileUpdate-form-container {
    margin: auto;
    margin-top: 3em;
    padding: 5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30em;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.profileUpdate-form {
    width: 80%;
}

.title {
    font-size: 1.5rem;
    text-align: center;
}

.profileUpdate-form_input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    height: 300px;
}

.profileUpdate-form input,
.profileUpdate-form button {
    width: 100%;
    height: 2.8rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
}

.profileUpdate-form input {
    border: 1px solid #bfbfbf;
    background-color: #f6f6f6;
}

.profileUpdate-form button {
    cursor: pointer;
}

#updateSubmitButton {
    margin-top: 50px;
    background-color: #4d61a9;
    color: white;
}

/* mobile profileUpdate media query */
/* @media screen and (max-width: 1280px) {
    .profileUpdate-form-container {
        width: 80%;
    }
} */

@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    .personalPage {
        width: 90%;
    }
    /* .profileUpdate-form-container {
        width: 80%;
        height: 400px;
    } */
    .profileUpdate-form_input {
        margin-top: 50px;
        height: 200px;
    }
}
