<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>PROJECT17</title>
        <!-- 아이콘 -->
        <link rel="icon" type="image/x-icon" sizes="16x16" href="../logo.ico" />
        <!-- bulma css -->
        <!-- <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        /> -->
        <!-- 폰트 어썸: 아이콘 -->
        <script
            defer
            src="https://kit.fontawesome.com/7630448495.js"
            crossorigin="anonymous"
        ></script>
        <!-- google fonts icon -->
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
            rel="stylesheet"
        />
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="../navAndLogin.css" />
        <link rel="stylesheet" href="profile.css" />
        <script src="profile.js" type="module" defer></script>
        <script src="../navAndLogin.js" type="module" defer></script>
        <!-- 카카오 로그인 -->
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
        <!-- 주소검색 -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            function kakaopost() {
                document.querySelector("#zipcode");
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                        // 예제를 참고하여 다양한 활용법을 확인해 보세요.
                        document.querySelector("#zipcode").value =
                            data.zonecode;
                        document.querySelector("#input-address1").value =
                            data.address;
                    },
                }).open();
            }
        </script>
    </head>
    <body>
        <!-- nav bar -->
        <nav
            class="navBar"
            role="navigation"
            aria-label="main navigation"
        ></nav>

        <!-- login modal -->
        <div class="loginModal"></div>

        <!-- main -->
        <main class="personalPage">
            <div class="personalPage-menu">
                <span class="greetings"
                    ><span class="greetings-name"></span>&nbsp;&nbsp;&nbsp;님
                    환영합니다!</span
                >
                <div class="personalPage-menu_Btns">
                    <button id="orderListBtn">주문내역</button>
                    <button id="userInfoBtn">계정관리</button>
                    <button id="profileDeleteButton">회원탈퇴</button>
                </div>
            </div>
            <div class="profileUpdate-form-container">
                <form class="profileUpdate-form">
                    <p class="title">정보 수정하기</p>
                    <div class="profileUpdate-form_input">
                        <div class="control">
                            <input
                                class="input"
                                id="fullNameInput"
                                type="text"
                                placeholder="성함"
                                autocomplete="on"
                            />
                        </div>
                        <div class="control">
                            <input
                                class="input"
                                id="emailInput"
                                type="email"
                                placeholder="변경할 이메일 주소"
                                autocomplete="on"
                            />
                        </div>
                        <div class="control">
                            <input
                                class="input"
                                id="phoneNumber"
                                type="tel"
                                placeholder="휴대폰 번호 ( - 없이 입력)"
                                autocomplete="on"
                            />
                        </div>
                        <div class="control">
                            <div>
                                <input
                                    type="text"
                                    id="zipcode"
                                    style="width: 30%"
                                    readonly
                                />
                                <button
                                    onclick="event.preventDefault() ;kakaopost()"
                                    id="find-address-btn"
                                >
                                    주소검색
                                </button>
                            </div>
                            <input
                                type="text"
                                id="input-address1"
                                style="width: 100%; margin-top: 5px"
                                readonly
                            />
                            <input
                                type="text"
                                id="input-address2"
                                style="width: 100%; margin-top: 5px"
                            />
                        </div>
                        <div class="control">
                            <input
                                class="input"
                                id="passwordInput"
                                type="password"
                                placeholder="변경할 비밀번호"
                                autocomplete="off"
                            />
                        </div>
                        <div class="control">
                            <input
                                class="input"
                                id="passwordConfirmInput"
                                type="password"
                                placeholder="비밀번호 확인"
                                autocomplete="off"
                            />
                        </div>
                    </div>
                    <button id="updateSubmitButton">수정하기</button>
                </form>
            </div>
            <div class="myOrderContainer">
                <span id="headText">주문 내역</span>
                <div class="myOrderHeader">
                    <div id="myOrderDate">날짜</div>
                    <div id="myOrderInfo">주문정보</div>
                    <div id="myOrderState">상태</div>
                    <div id="ask">문의</div>
                </div>
                <div class="myOrderBox" style="width: 100%">

                </div>
            </div>
        </main>

        <!-- footer -->
        <footer></footer>
    </body>
</html>
