<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" sizes="16x16" href="../logo.ico" />
        <!-- 폰트 어썸: 아이콘 -->
        <script
            defer
            src="https://kit.fontawesome.com/7630448495.js"
            crossorigin="anonymous"
        ></script>
        <!-- google fonts icon -->
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
            rel="stylesheet"
        />
        <script src="../navAndLogin.js" type="module" defer></script>
        <script src="admin.js" type="module" defer></script>
        <link rel="stylesheet" href="admin.css" />
        <link rel="stylesheet" href="../navAndLogin.css" />
        <!-- 카카오 로그인 -->
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
        <!-- chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <title>PROJECT17</title>
    </head>
    <body>
        <!-- nav bar -->
        <nav class="navBar"></nav>

        <!-- login modal -->
        <div class="loginModal"></div>
        <div class="manage-container">
            <p id="header-text">관리자페이지</p>
            <div class="menu-box">
                <div class="menu">
                    <div class="menu-text-icon" id="manage-order">
                        <i
                            class="fa-solid fa-bag-shopping"
                            style="font-size: 40px; color: #81b5d5"
                        ></i>
                        <div id="manage-font">주문관리</div>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-text-icon" id="manage-item">
                        <i
                            class="material-symbols-outlined nav-menu_icon"
                            style="font-size: 40px; color: #81b5d5"
                        >checkroom</i>
                        <div id="manage-font">상품관리</div>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-text-icon" id="register-item">
                        <i
                            class="fa-solid fa-won-sign"
                            style="font-size: 40px; color: #81b5d5"
                        ></i>
                        <div id="manage-font">상품등록</div>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-text-icon">
                        <i
                            class="fa-solid fa-person"
                            style="font-size: 40px; color: #81b5d5"
                        ></i>
                        <div id="manage-font">회원관리</div>
                    </div>
                </div>

                <div class="menu">
                    <div class="menu-text-icon">
                        <i
                            class="fas fa-comment"
                            style="font-size: 40px; color: #81b5d5"
                        ></i>
                        <div id="manage-font">리뷰관리</div>
                    </div>
                </div>
            </div>

            <div class="static-box">                
                <div class="graph">
                    <i class="fa-solid fa-arrow-right" id="arrow"></i>
                    <div id="header-text">통계</div>
                    <div>
                        <select name="choice" id="menu-select">
                            <option value="">Choose Option!</option>
                            <option value="day">일별</option>
                            <option value="month">월별</option>
                            <option value="year">년별</option>
                        </select>
                    </div>
                    <canvas id="myChart"></canvas>
                </div>

                <div class="static-info">
                    <select id="day-box">
                        <option value="5">오늘</option>
                        <option value="4">1일전</option>
                        <option value="3">2일전</option>
                        <option value="2">3일전</option>
                        <option value="1">4일전</option>
                        <option value="0">5일전</option>
                    </select>
                    <div style="font-size: 12px; font-weight: bold;" >
                        <span>통계상세</span>
                    </div>
                    <div class="static-header-box">
                        <span class="admin-sale-date-txt"> 판매 날짜 </span>
                        <span class="admin-sale-order-txt"> 주문 내용 </span>
                        <span class="admin-sale-id-txt"> 구매자ID </span>
                        <span class="admin-sale-price-txt"> 거래금액 </span>
                    </div>
                    <div class="static-info-box">

                    </div>
            </div>
        </div>
        <div id="summary">
            <span>날짜</span>
            <span id="date-txt"> </span>
            <span>판매금액</span>
            <span id="total-txt"></span>
        </div>
       
        <script type="text/javascript">
            var context = document.getElementById("myChart").getContext("2d"); 
            const nowDate = new Date();
            
            const getData = async (year, month, day) => {
                const dateData = { year, month, day };
                const bodyData = JSON.stringify(dateData);
                
                const d = await fetch('/api/order/getOrderByday', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(dateData)
                })

                const result = await d.json();
                return result;
            }

            
            const days = [
                new Date(nowDate.setDate(nowDate.getDate() - 5)),
                new Date(nowDate.setDate(nowDate.getDate() + 1)),
                new Date(nowDate.setDate(nowDate.getDate() + 1)),
                new Date(nowDate.setDate(nowDate.getDate() + 1)),
                new Date(nowDate.setDate(nowDate.getDate() + 1)),
                new Date(nowDate.setDate(nowDate.getDate() + 1))
            ];
            
            const loadData = async () => {
                const data = []
                for(let i = 0 ; i < days.length; i++){
                    const d = await getData(days[i].getFullYear(), days[i].getMonth(), days[i].getDate())
                    data.push(d.length);
                }
                
                return data;
            }

            loadData().then((data) => 
            {
                var myChart = new Chart(context, {
                type: "line", // 차트의 형태
                data: {
                    // 차트에 들어갈 데이터
                    labels: [
                        //x 축
                        days[0].getDate() + '일',
                        days[1].getDate() + '일',
                        days[2].getDate() + '일',
                        days[3].getDate() + '일',
                        days[4].getDate() + '일',
                        days[5].getDate() + '일',
                    ],
                    datasets: [
                        {
                            //데이터
                            label: "판매량", //차트 제목
                            fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                            data: [
                                data[0],
                                data[1],
                                data[2],
                                data[3],
                                data[4],
                                data[5]
                            ],
                            backgroundColor: "rgb(255, 99, 132)",
                            borderColor: "rgb(255, 99,",
                            borderWidth: 1, //경계선 굵기
                        },
                    ],
                },
                options: {
                    maintainAspectRatio: true, // true -> 상위 div의 크기에 맞게 그려진다.
                    scales: {
                        y: {
                            beginAtZero: true,
                        },
                    },
                },
            });                  
            });

            
        </script>
        <footer></footer>
    </body>
</html>
