<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- 폰트 어썸: 아이콘 -->
        <script
            defer
            src="https://kit.fontawesome.com/7630448495.js"
            crossorigin="anonymous"
        ></script>
        <!-- google fonts icon -->
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
            rel="stylesheet"
        />
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="../navAndLogin.css" />
        <link rel="stylesheet" href="order.css" />
        <script src="order.js" type="module" defer></script>
        <script src="../navAndLogin.js" type="module" defer></script>
        <!-- 카카오 로그인 -->
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    </head>

    <body>
        <!-- nav bar -->
        <nav
            class="navBar"
            role="navigation"
            aria-label="main navigation"
        ></nav>

        <!-- login modal -->
        <div class="loginModal"></div>

        <div class="order-container">
            <span>주문내역</span>
            <div class="item-list">
                <div class="order-summary-container">
                    <div class="order-summary">
                        <div style="flex: 4">
                            <span>상품정보</span>
                        </div>
                        <div style="flex: 2">
                            <span>주문일자</span>
                        </div>
                        <div style="flex: 2">
                            <span>주문번호</span>
                        </div>
                        <div style="flex: 1">
                            <span>주문금액<br />(수량)</span>
                        </div>
                        <div style="flex: 1">
                            <span>주문 상태</span>
                        </div>
                    </div>
                    <ul id="list-ul"></ul>
                    <div id="total-price-box">
                        <span id="total-price"></span>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
    </body>
</html>
