* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.container {
    margin: 0 auto;
    width: 70%;
}

ul {
    list-style: none;
}

/* navBar */
.navBar {
    box-shadow: 1px 1px 2px rgb(236, 236, 236);
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 99;
    top:0;
    opacity: 0.5;
}

.navBar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    padding: 1em;
}

.nav-category_list a {
    display: flex;
}

.nav-brand,
.nav-category,
.nav-menu {
    display: flex;
    width: 33%;
    align-items: center;
}

.nav-category {
    justify-content: space-around;
    font-size: 1rem;
}

.nav-menu {
    justify-content: flex-end;
}

.nav-menu_icon,
.nav-brand {
    font-size: 2rem;
    vertical-align: baseline;
}

/* footer  */
footer {
    margin: 0 auto;
    margin-top: 5vh;
    padding-top: 5vh;
    border-top: 1px solid rgba(0, 0, 0, 0.081);
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 70%;
}

.footer-col:first-child span {
    font-size: 2rem;
}

/* content */
.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.item-list{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.item-list ul {
    max-width: 1400px;
    margin:0 auto;
}

.item-list ul li {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 13px;
    border-bottom: 1px solid #E1E1E1;
    padding: 20px;
}

.item-list-img {
    width: 20%;
}

.item-img {
    width: 100%;
    padding: 10px;
    border-right: 1px solid #E1E1E1;
}

.item-list-product {
    width: 80%;
    padding-left: 20px;
}

.cart-list-name {
    overflow: hidden;
    margin: 0 0 25px;
}

.cart-list-name p{
    width: 50%;
    float: left;
}

.item-list-product b{
    font-weight: 400;
    display: block;
    font-size: 12px;
    margin: 0 0 3px;
    color: rgb(0,0,0, 0.5);
}

.cart-list-name a{
    font-size: 14px;
}

#item-info-text,
#item-sale-text {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

#item-sale-text d {
    font-size: 14px;
    opacity: 0.5;
}
.cart-list-quantity {
    width: 50%;
    float: left;
}

.cart-list-quantity  button {
    width: 12px;
}

#plus-btn,
#minus-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color:#000;
}
#plus-btn:hover,
#minus-btn:hover {
    transform: scale(1.4);
    opacity: 0.5;
}

#delete-item {
    font-size: 15px;
    color : rgb(0,0,0, 0.5);
    cursor: pointer;
    font-weight: bold;
    transition: ease 0.5s;
}

#delete-item:hover {
    color:#000;
}

.cart-summary-container {
    display: flex;
    flex-direction: column;
}

.cart-summary {
    border-top: 2px solid #000;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px;
    display: flex;
    width: 100%;
    margin: 30px 0px 0px 0;
}
 
.cart-summary div{
    text-align: center;
    flex:1;
}

.cart-summary-info div{
    text-align: center;
    flex: 1;
    height: 100px;
    line-height: 100px;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    border-right: 1px solid #e1e1e1;
}

#total-price-box,
#ship-price-box {
    position: relative;
}

.cart-summary div span {
    font-size: 16px;
    font-weight: 500;
}

.cart-summary-info {
    display: flex;
    z-index: 0;
    width: 100%;
    border-bottom: 1px solid #000;
}

#plus-icon,
#equal-icon {
    font-size: 30px;
    position: absolute;
    top: calc(50% - 18px); right:-18px;;
    padding: 2px 4px;
    border-radius: 10%;
}

.payment-btn {
    margin-top: 20px;
    float: right;
    text-align: right;
    cursor: pointer;
    transition: ease 0.5s;
    font-weight: bold;
}

.payment-btn:hover {
    color:#E1E1E1;
}
 
#text-payment {
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: ease 0.5s;
}

#text-payment:hover {
    color:#a9a9a9;
}

#delete-all-item {
    position: absolute;
    top:-2%;left:0;   
    cursor: pointer;
    transition: ease 0.5s;
    font-size: 14px;
    padding: 2px 20px;
}

#delete-all-item:hover {
    color:#a9a9a9;
}

/* media query */
@media screen and (max-width: 900px) {
    .navBar-container {
        margin: 0;
        width: 100%;
        justify-content: space-between;
    }
    .nav-category {
        visibility: hidden;
    }
    .cart-container {
        width: 90%;
        
    }
    .item-list ul li {
        min-width: 400px;
        border: 1px solid #e1e1e1;
        margin-bottom: 10px;
    }

    .cart-summary {
        display: flex;
        flex-direction: row;
    }

    .cart-summary span {
        margin-left:5px;
    }

    #delete-all-item {
        top:-3%;
    }
}

@media screen and (max-width: 400px) {
    .item-list {
        font-size: 10px;
    }

    .item-list-img {
        display: none;
    }
    .cart-list-quantity {
        width: 100%;
    }
}